button {
  width: 250px;
  height: 80px;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00471b;
}

.button-click {
  background-color: blue;
}

.button-restart {
  background-color: blueviolet;
}