.counter {
  min-width: 300px;
  height: 300px;
  font-size: 150px;
  padding: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  margin: 20px;
}